.parts {
  width: 100vw;
  height: 50vh;
  margin-top: 20vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.part {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px 0;
}

.number,
.text {
  padding: 0 20px;
  display: flex;
  align-self: center;
}

.circle {
  width: 20px;
  height: 20px;
  border: 3px solid black;
  border-radius: 50px;
}

.active {
  background-color: green;
}