* {
	font-family: Helvetica, sans-serif;
	font-size: 16pt;
	margin: 0%;
	height: auto;
	overflow-y: hidden;
}

/***************************/
/*********Navigatie*********/
/***************************/
.fas, .fab{
	color: black;
}
.active{
	color: #4B7F6C;
}

ul {
    list-style: none;
    float: right;
    margin: 0;
    margin-right: 5.5%;
}

li {
    float: left;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    margin-bottom: 40%;
}

nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2.2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#drop{
    display: none;
}
.fa-chevron-down{
	transform: rotate(0deg);
	transition: transform 0.3s linear;
}
  
.fa-chevron-down.open{
	transform: rotate(180deg);
	transition: transform 0.3s linear;
}

.toggle + a,
.menu {
    display: none;
}
.menu{
    padding: 0;
}
.toggle {
    display: block;
    padding:14px 20px;	
    color:black;
    font-size:17px;
    text-decoration:none;
    border:none;
}
[id^=drop]:checked + ul {
    display: block;
}
nav ul li {
    display: block;
    width: 100%;
}

/***************************/
/*****Invoeren teamnaam*****/
/***************************/
button {
	border: none;
}

#submitTeamName {
	background-color: none;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.trainWorldLogo img {
	margin: 5%;
}

#teamNaamBlock h1 {
	padding-bottom: 1em;
}

#imageBottomContainer{
	overflow-x: hidden;
	position: absolute;
  	bottom: 10%;
}

.trainBottomScreen {
	position: absolute;
	animation: run 5s ease-in-out infinite;
	bottom: 30%;
}

@keyframes run {
	0% {
		left: -50vw;
		bottom: -50%;
	}
	10% {
		bottom: +0.5%;
	}
	20% {
		bottom: -0.5%;
	}
	30% {
		bottom: +0.5%;
	}
	40% {
		bottom: -0.5%;
	}
	50% {
		bottom: +0.5%;
	}
	60% {
		bottom: -0.5%;
	}
	70% {
		bottom: +0.5%;
	}
	80% {
		bottom: -0.5%;
	}
	90% {
		bottom: +0.5%;
	}
	100% {
		left: 150VW;
		bottom: -50%;
	}
}